VITE_KEYCLOAK_URL=http://localhost:8080/realms/flash-sales-dev
VITE_KEYCLOAK_CLIENT_ID=flash-sales-public
VITE_REDIRECT_URI=http://localhost:3000/callback
VITE_POST_LOGOUT_URI=http://localhost:3000
VITE_API_URL=http://localhost:8080
